#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
   z-index: -1;
}
.my-image {
min-height: 25vh;
height: auto;
width: auto;
}
